<mat-card>
  <mat-card-subtitle>Register</mat-card-subtitle>
  <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email"/>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password"/>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-flat-button color="primary">Register</button>
    </div>
  </form>

</mat-card>

