<div class="example-container">
  <app-header (menuToggled)="toggledVal($event)" [appTitle]="title" [sideBarFlag]="sidebarOpened"></app-header>
  <mat-sidenav-container class="example-sidenav-container" autosize>
      <mat-sidenav [opened]="sidebarOpened" mode="over" role="navigation">
        <app-sidebar-menus (menuToggled)="toggledVal($event)" [sideBarFlag]="sidebarOpened"></app-sidebar-menus>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-spinner *ngIf="showLoader"></mat-spinner>
</div>
